body {
 margin:5px;
padding-top: 10px;
}

u1{
    
 overflow: hidden;
 }

li {
  float:left;
}

li a {
  display: block;
  color: black;
  padding: 14px 16px;
  font-family: arial black;
  font-size: 30px;
  background-color: darkgray;
}
li a:hover {
  background-color:dimgray;
}

h1{
 padding-top: 10px;
font-family: arial black;
  font-size: 30px;    
}
h2{
 padding-top: 5px;
font-family: arial;
  font-size: 20px;    
}
img {
  padding-top: 5px;  
 transition: trasform .2s;
border: 5px solid blue;
width: 600px; 
height: 500px;
}
img:hover {
transform: scale(0.9);
}